# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local settings / databases
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv/
env/
ENV/

# IDE / Editor folders
.idea/
.vscode/

# Scratch files
scratch/
*.log

# Media uploads & archives
media/
*.zip
